<form id=formId (ngSubmit)="LoginMethod()" #refForm="ngForm">


  <div class="form-group">
    <label for="Username">Username</label>
    <input type="text" class="form-control" id="Username" #Username="ngModel" [(ngModel)]="this.username"
      name="Username" placeholder="Enter Username" required>
    <div class="validation-error" *ngIf="Username.invalid&&Username.touched">*required</div>
  </div>

  <div class="form-group">
    <label for="Password">Password</label>
    <input type="password" class="form-control" id="Password" #Password="ngModel" [(ngModel)]="this.password"
      name="Password" placeholder="Enter Password" required>
    <div class="validation-error" *ngIf="Password.invalid&&Password.touched">*required</div>
  </div>
  <button type="submit" value="submit" [disabled]="refForm.invalid" class="btn btn-primary btn-lg btn-block ">Login</button>

</form>
